<%= link_to root_path do%>
  <div class="header">
    <h1 class="website_title">Rails Blog</h1>
      <h3 class="article_counter">
      Our blog has <%= Article.public_count %> articles and counting!
      </h3>
  </div>
<%end%>