<%= render 'header'%>

<div class="body">
  <div class = "title_box">
    <div class="button"> <%= link_to 'Create Article', new_article_path %></div>
    <h2 class="article_list_title">
      Article List:
    </h2>
  </div>

  <div class= "Article_List">
  <ul>
    <% @articles.each do |article| %>
      <div class='article_box'>
        <div class="article_title_box">
          <%= link_to article.title, article %>
        </div>
        <div class="article_body_box">
          <%= "#{article.body}" %>
        </div>
      </div>
    <% end %>
  </ul>
  
