// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.header {
  overflow: hidden;
  position: sticky;
  height: auto;
  background: cover;
  width: auto;
  margin:auto;
  padding: 50px;
  color: white;
  background-color: rgb(63, 63, 63);
  text-align: center;
  line-height: 100%;
}

.body {
  display: flex;
  flex-direction: column;
  margin-top: 1%;
  align-items: center;
}

.title_box {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.button>a {
  background-color: white;
  color: black;
  border: 2px solid  rgb(204, 195, 195);
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 50px;
  border-radius: 25px;
}

.button {
  margin: 15px;
  margin-left: 15px;
}

.article_list_title {
  margin-top: 15%;
  text-align: center;
  margin-left: 0%;

}

.Article_List {
  display: flex;
  flex-direction: center;
  margin-top: 1%;
  align-items: center;
}

.article_box {
  font-size: large;
  display: flex;
  flex-direction: column;
  background-color: rgb(204, 195, 195);
  width: 300px;
  margin-bottom: 15px;
  height: fit-content;
  border-radius: 25px;
  padding: 20px;
  margin-top: 15px;
}

.article_title_box {
  size: 15px;
  margin-bottom:15px;
  padding:0px;
  width: 250px;
  color: white;
  font-weight: bold;
}

.article_title_box>a {
  color: black;
  text-decoration: none;
  font-size: larger;
}

.button_box {
  display: flex;
  flex-direction: row;
  height: fit-content;
  align-items: left;
  max-width: 300px;
}